<p id="notice"><%= notice %></p>

<p>
HERE IS THE PARSE
	<%= @result.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>


<p>
  <strong>Company:</strong>
  <%= @card.company %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
